#tab {
    margin-top: 2% !important;
    width: 80% !important;
    margin-left: 10% !important;
}

.titre {
    text-align: center;
    margin-top: 2%;
}

.br {
    width: 10%;
}

.container {
    margin-top: 2%;
}

.bt {
    width: 20%;
    background-color: #084989;
    border-color: #084989;
}

.btn {
    width: 275px;
}

.tl {
    text-align: center;
    margin-top: 2%;
    color: #2610a0;
}

.vv .name a {
    color: black;
    text-decoration: none;
}

.vv {
    margin-top: 2%;
    border: 1px grey solid;
    width: 50%;
    margin-left: 25%;
}

#inscription {
    background: rgb(93, 103, 110);
}

.insc {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}

#login {
    background: rgb(93, 103, 110);
}

.log {
    width: 50%;
    margin-left: 25%;
    margin-top: 16%;
}

.register a {
    color: black;
}

@media screen and (max-width: 600px) {
    .bt {
        width: 100%;
    }
    .insc,
    .log {
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
    }
    .br {
        width: 40%;
    }
    #tab {
        width: 100% !important;
        margin-left: 0 !important;
    }
    .idm {
        display: none;
    }
    .modifier,
    .supp {
        background-color: grey;
    }
}